<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>웹 문서 만들기</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="/static/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <a class="logo" href="#" ><img src="https://static.djangoproject.com/img/logo-django.42234b631760.svg" alt="Django" /></a>
                <p class="message">The web framework for <br/> perfectionists with deadlines.<p>
                <nav class="nav"> 
                    <ul class="list">
                        <li class="list-item"><a href="#">OVERVIEW</a></li>
                        <li class="list-item"><a href="#">DOWNLOAD</a></li>
                        <li class="list-item"><a href="#">DOCUMENTATION</a></li> <li class="list-item"><a href="#">NEWS</a></li>
                        <li class="list-item"><a href="#">COMMUNITY</a></li>
                        <li class="list-item"><a href="#">CODE</a></li>
                        <li class="list-item"><a href="#">ISSUES</a></li>
                        <li class="list-item"><a href="#">ABOUT</a></li>
                        <li class="list-item"><a href="#">♥ DONATE</a></li>
                    </ul> 
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="hero-section">
               <div class="container">
                   <p class="hero-m">Django makes it easier to build better web apps more quickly and with less code.</p>
                   <a href="#" class="gswd">Get start with Django</a>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="main-content">
                    <div class = "mc-container">
                        <h1>Meet Django</h1>
                        <p class = "mc-desc">Django is a high-level Python web framework that encourages rapid development and clean, pragmati c design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
                        <div class = "mc-section">
                            <a class="img"><img src="/static/img/thunder.png" wi dth="40px" height="40px" alt="그림 설명" /></a>
                        <h3 class = "mc-section-h">Ridiculously fast.</h3>
                        <p class = "mc-section-m">Django was designed to help developers take applications from concept to completion as quickly as possible.</p>
                        </div>
                        <!-- div mc-section -->
                        <div class = "mc-section">
                            <a class="img"><img src="/static/img/lock.png" width ="40px" height="40px" alt="그림 설명" /></a>
                            <h3 class = "mc-section-h">Reassuringly secure. </h3>
                            <p class = "mc-section-m">Django takes security seriously and helps developers avoid many common security mistakes. </p>
                        </div>
                         <!-- div mc-section -->
                        <div class = "mc-section"> 
                            <a class="img"><img src="/static/img/dashboard.png" width="40px" height="40px" alt="그림 설명" /></a>
                            <h3 class = "mc-section-h">Exceedingly scalable. </h3>
                            <p class = "mc-section-m">Some of the busiest sites on the web leverage Django’s ability to quickly and flexibly scale. </p>
                        </div> 
                        <!-- div mc-section -->   
                    <a href="#" class="lmad"> Learn more about Django </a>
                    </div> <!-- div mc-container -->
                    <div class="mc-container">
                        <h1>Stay in the loop</h1>
                        <p class="mc-desc">Subscribe to one of our mailing lists to stayup to date with everything in the Django community:</p>
                        <div class="mc-mailing">
                            <h2><a href="#" class="mailing-title">Using Django</a></h2>
                            <p class="mailing-desc">Get help with Django and follow announcements.</p>
                            <form action="#" method="post" class = "mailing-from">
                                <input type="email" placeholder="Enter Email" id="ue"/>
                                <button type="submit" class="submit-btn">submit</button>
                            </form>
                            <p class="mailing-desc">You can also subscribe by sending an email to <a href= "mailto:django-users+subscribe@googlegroup s.com"></a> and following the instructions that will be sent to you.</p>
                        </div>
                        <!-- div mc-mailing -->
                         <div class="mc-mailing">
                            <h2><a href="#" class="mailing-title">Contributing to Django</a></h2>
                            <p class="mailing-desc">Contribute to the development of Django itself.</p>
                            <form action="#" method="post" class = "mailing-from">
                                <input type="email" placeholder="Enter Email" id="ctd"/>
                                <button type="submit" class="submit-btn">submit</button>
                            </form>
                            <p class="mailing-desc">You can also subscribe by sending an email to <a href= "mailto:django-users+subscribe@googlegroup s.com"></a> and following the instructions that will be sent to you.</p>
                        </div>
                        <!-- div mc-mailing -->
                        <p class="mc-desc">We have a few other specialized lists (announce, i18n, ...). You can find more information about themin our mailing list documentation.</p>
                        
                    </div>
                    <!--div mc-container 두번째-->
                </div>  
                <div class="side-content">
                    <div class = "side-content-container">
                        <a href="#" class="dlr">Download latest release 3.2.8</a>
                        <a href="#" class="dd">DJANGO DOCUMENTATION></a>
                        <div class = "side-content-h-sd"> Support Django!</div>
                        <div class = "side-content-sd">
                            <div class = "side-content-sd-img">
                                <img src="https://static.djangoproject.com/img /fundraising-heart.cd6bb84ffd33.svg" width="80px" height="80px" alt="Support Django!"> 
                            </div>
                            <div class = "side-content-sd-m">
                                <a href="#">Heroico Games donated to the Django Software Foundation to support Django development. Don ate today!</a>
                            </div>
                        </div> <!-- div side-content-sd -->
                        <div class = "side-content-h-ln"> Latest news</div> 
                        <!-- side-content-h-ln -->
                        <div class = "side-content-ln">
                            <article class="news">
                                <h4 class="news-heading"><a href="#"> Django bugfix release: 3.2.8 </a></h4>
                                <p class="news-desc">Today the Django project issued a bugfix release for the 3.2 release series. </p>
                                <p class="news-meta">Posted by <strong>Carlton Gibson</strong> on <time datetime="2021-10-05">10월 5, 2021</time> </p>
                            </article>
                        </div>
                        <div class = "side-content-ln"> 
                            <article class="news">
                                <h4 class="news-heading"><a href="#" >Django bugfix release: 3.2.8 </a></h4>
                                <p class="news-desc">Today the Django project issued a bugfix rel ease for the 3.2 release series.</p>
                                <p class="news-meta">Posted by <strong>Carlton Gibson</strong > on <time datetime="2021-10-05">10월 5, 2021</time></p>
                            </article>
                        </div>
                        <!-- div side-content-ln-->
                        <a href="#" class="more"> MORE > </a>
                    </div> <!-- div side-content-container -->
                </div> <!--div side-content -->
            </div>
        </main>
        <!-- <footer class="content-info">
        <div class="links">링크</div>
        <div class="footer">푸터</div>
        </footer> -->
    
        
    </body>
</html>